html,body{
    height:100%;font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:  weight;
    font-style: normal;
}

aside#left{
    float:left; 
    width:15%; 
    height:70%;
}
section{
    float:left;
    width:60%;
    height:70%;
}
aside#right{ 
    float:right;
    width:22%;
    height:70%
}
footer{
    clear:both;
}
